@tailwind base;



:root {
   
    --secondary: rgb(30, 41, 59);
    --primary:rgb(17, 24, 39);
  }

*::-webkit-scrollbar {
    width: 15px;
    z-index: inherit;
    background-color : var(--primary);
    
  }
  
  *::-webkit-scrollbar-track {
    background: var(--secondary);
    margin-top: 71px;
    /* margin-bottom: 47px; */
    /* border-radius: 5px; */
  }
  
  *::-webkit-scrollbar-thumb {
    height: 52px;
    background-color: var(--primary);
    /* border-radius: 14px; */
    /* border: 3px solid var(--primary); */
  }


@tailwind components;
@tailwind utilities;



main{
    max-width: 1280px;
    margin: auto;
    min-height: 100vh;
    padding: 10px;
}